body {
    font-family: monospace;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.affichage {
    min-width: 400px;
    width: 50%;
    height: 200px;
    margin : 10px 0;
    border: 1px solid black;
    border-radius:5px ;
    overflow: auto;
}

button, h1{
    margin: 10px auto;
}

/*
#clavier {
    resize: vertical;
    overflow: auto;
    width: 50%;
    min-width: 400px;
}
*/

.texte {
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
}

.droite {
    border: 1px solid #00FF00;
    background-color: #AAFFAA;
    margin-left: 100px;    
}

.gauche {
    border: 1px solid #0000FF;
    background-color: #AAAAFF;
    margin-right: 100px;
}